<!DOCTYPE html>
<html>
<head>
  <title>Photogur</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash %>
    <p><%= flash[:notice] %></p>
    <p><%= flash[:alert] %></p>
  <% end %>

  <nav>
    <ul>
      <li><%= link_to "Home", pictures_path %></li>
      <li>|</li>
      <% if current_user %>
      <li>You are signed as "<%= current_user.email %>" <%= link_to "Log out", sessions_path("current"), method: :delete %></li>
      <% else %>
      <li><%= link_to "Log in", new_sessions_path %> or <%= link_to "Sign up", new_users_path %></li>
      <% end %>
    </ul>
  </nav>

  <%= yield %>

</body>
</html>
